.App {
  margin: 0%;
  width: 100%;
  background-color: #fef9e4;
}

.full-height {
  height: 99vh;
}

.side-pannel {
  background-color: #28353e;
  color: white;
  padding: 5%;
}

.results-pannel {
  color: #28353e;
  padding: 2% 1%;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.input, .submit {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 6px;
  border-style: solid;
  border-color: #ecbc13;
}

.input, .table thead {
  background-color: #28353e;
  color: #ecbc13;
}

.submit {
  background-color: #a88818;
}

label {
  margin-bottom: 0px;
  font-weight: bold;
}

.input, label {
  padding: 0% 6%;
}

.table th, .table td {
  border-top: 2px solid #28353e;
  border-bottom: 2px solid #28353e;
}

.table {
  overflow-x: auto;
}

.table table {
  width: 100%;
  text-align: center;
}

.wrong {
  background-color: #ffaea0;
}

.correct {
  background-color: #ffe28a;
}
